.content-wrapper {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.header {
  /* background-color: lightsalmon; */
  padding: 2em;
}

.greeting {
  margin-bottom: 1em;
}

.panel-wrapper {
  display: flex;
}

.panel {
  width: 50%;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dev-border {
  border: 1px solid #EEEEEE;
}

.test {
  color: red;
}